@font-face {
    font-family: 'Inter';
    src: url('/Inter.woff2') format("woff2-variations");
    font-weight: 1 999;
}

@font-face {
    font-family: 'FiraCode';
    src: url('/FiraCode.woff2') format("woff2-variations");
    font-weight: 1 999;
}

body {
    font-family: 'Inter', sans-serif;
    font-display: fallback;
}

code, kbd, pre, samp {
    font-family: 'FiraCode', monospace;
    font-display: fallback;
}
